[Desktop Entry]
Type=Application
Name=Aurora
Comment=Hue ambient lighting from screen and audio capture
Exec=Aurora
Icon=aurora
Categories=Utility;
StartupWMClass=Aurora
